@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: "Roboto";
    margin: 0;
}

.header{
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #1F2937;
}

.nav{
    width: 100%;
    height: 15%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
}

.header-logo{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    color: #fff;
}

.header-logo p{
    font-weight: bold;
    font-size: 18px;
    color: #f9faf8;
}

.header-links{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 50px;
}

.header-links a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;   
}

.description{
    height: 325px;
    width: 100%;
    padding: 0 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.description-left{
    width: 50%;
    height: 100%;
}

.description-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.description-left h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.description-left p{
    font-size: 18px;
    color: #e5e7eb;
    padding-top: 10px;
}

.description-left button{
    background-color: #3882f6;
    border: none;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    color: #f9faf8;
    font-size: 20px;
    font-weight: bold;
}

.image-box{
    width: 100%;
    height: 75%;
    background-color: #787878;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box p{
    color: #f9faf8;
    font-size: 20px;
}